@import "../../styles/variables";
.side-bar {
  height: -webkit-fill-available;
  display: flex;
  float: left;
  margin-right: 10px;
  width: 20vw;
  height: 100vh;
  background: #404e67;
  color: $black;
  position: fixed;
  margin-top: 7rem;
  @media screen and (max-width: 480px) {
    position: absolute;
    width: 80%;
    z-index: 999;
    margin-top: 0rem!important;
  }
  .main-nav {
    list-style-type: none !important;
    background-color: inherit;
    width: 100%;
    padding: 20px 10px 0px 20px;
    height: 100%;
    font-family: $font-family;
    color: white;
    box-shadow: none;
    .nav-header {
      margin: 10px 0px 10px 0px;
      font-weight: bold;
      font-size: 1em;
    }
    .nav-item {
      margin: 10px 0px 10px 0px;
      font-size: 1em;
      // padding-left: 20px;
      &:hover {
        color: $primaryColor;
        .sidebar-icons {
          color: $primaryColor;
        }
      }
      a {
        color: #fff;
        border: none;
        text-align: unset;
        width: auto;
        margin: 10px 0px 10px 0px;
        padding-left: 20px;
        &:hover {
          color: $primaryColor;
          background: inherit;
          cursor: pointer;
          transform: none;
          border: none;
          transition: none;
          box-shadow: none;
        }
      }
    }
  }
}
.sidebar-icons {
  color: $background;
  margin-right: 10px;
  font-size: 1em;
}
.side-bar-hamburger{
  position: fixed;
    top: 0;
    left: 0;
    margin: 23px 0px 0px 10px;
    color: $background;
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
    }
}
