@import "../../styles/App.scss";

.modal-notif {
  position: fixed;
  top: 9.7%;
  bottom: 60%;
  left: 70%;
  margin-right: 10%;
  border: 2px solid $primaryColor;
  border-radius: 5%;
  height: fit-content;
  text-align: center;
  z-index: 20;
  background-color: $secondaryColor;
  width: 25%;
  transform: scale(0);
  transition: 200ms ease-in-out;
}
.modal-active {
  transform: scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $primaryColor;
  color: $primaryColor;
}
.modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body {
  padding: 10px 15px;
}
.modal-over-lay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 11;
  transform: scale(0);
}
.modal-over-lay-active {
  transform: scale(1);
}

/*Media Queries*/
@media (max-width: 768px) {
  .modal-notif {
    top: 20%;
    left: 10%;
    width: 80%;
    min-width: 60%;
  }
}
