@import "../../styles/App.scss";

.notificationsList ul {
  background: $secondaryColor;
  list-style-type: none;
  a {
    text-decoration: none;
  }
  overflow: scroll;
}

.notificationsList li{
  margin: 10px 10px;
  text-align: left;
  width: 100%;
}
.notificationsList a {
  padding: 5px 5px;
  margin-left: 10%;
  margin: 10px 10px;
  font-size: 12px;
  
}

.notificationsList a:hover {
  background: $primaryColor;
  transform: scale(1);
  transition-delay: 200ms;
}

.mark-read {
  background-color: $primaryColor;
  text-align: center;
  display: inline;
  padding: 10px 10px;
  position: relative;
  color: $secondaryColor;
}
.mark-read-button {
  margin: auto;
  padding: 5px 5px;
  background-color: $primaryColor;
  color: $secondaryColor;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
