.acc-btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);

    &::after {
      transform: scaleX(1.1) scaleY(1.2);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-.5rem);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }

  &--white {
    background-color: white;
    color: $color-grey-dark;

    &::after {
      background-color: white;
    }
  }

  &--primary {
    background-color: $primaryColor;
    color: white;

    &::after {
      background-color: $primaryColor;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.acc-btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $primaryColor;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primaryColor;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $primaryColor;
    color: white;
    box-shadow: 0 1rem 2rem rgba(black, 0.15);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
    transform: translateY(0);
  }
}
