@import "../../styles/variables";
@import "../../styles/cssgrid";

.comment {
  @include work-from(md) {
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 8em;
  }
  color: #707070;
}

.comment-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  padding: 10px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 12px;
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12),
    0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}

.comment-content {
  word-break: break-all;
}


.comment-editor {
  display: flex;
  justify-content: center;
  width: 95%;
  word-break: break-all;
  min-height: 10rem;
}
.save-comment {
  width: 10rem;
}

.comment-toolbar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.comment-editor-wrapper {
  border: 1px solid $primaryColor;
  border-radius: 12px;
  margin-bottom: 5px;
}
