@import '../../styles/App.scss';

.role-card {
  padding: 5px;
  margin: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  margin-left: 1rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 10rem;
  right: 0;
  width: 78vw;
  
}

.role-setting {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: 1;
  grid-gap: 12px;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 2px;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: $primaryColor;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    outline: 0;
  }

  // Box checked
  &:checked + label:before {
    background: $primaryColor;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.select {
  height: 2rem !important;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  appearance: none;
  background: url('../../assets/input_arrow_down.svg') no-repeat right;
}

.assign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3486f5;
  padding: 0.5rem 5rem;
}
.assign-btn:focus{
  outline: 0;
}