@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// resets
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 1.6rem;
}
body {
  font-size: 1.6rem;
}

// imports
@import './footer';
@import './helpers';
@import './flexbox';
@import './cssgrid';
@import "./variables";
@import "./mixins/mixins";

@import "./base/typography";
@import "./base/utilities";

@import "./layout/grid";

@import "./components/button";
@import "./components/composition";

// common classes
// clickable
.clickable {
  cursor: pointer;
}
.clickable:focus {
  outline: 0;
}
// spacer
.spacer {
  flex-grow: 1;
}

// bolder
.b {
  font-weight: bolder;
}

.toastify-primary {
  color: #fff;
  background-color: $primaryColor;
}
.black {
  color: #000;
}

