@import "../../styles/App.scss";

/*home-nav styling*/

#logo {
  width: 80px;
  img {
    height: 100%;
    width: 100%;
  }
}
.home-link {
  text-decoration: none;
  &:hover {
    background: none;
  }
  img {
    width: 60%;
    height: 150%;
  }
}
.icons {
  width: 32px;
  height: 32px;
  padding: 5px;
}
.divider {
  display: inline-block;
  width: 1px;
  height: 2rem;
  background-color: #fff;
}
.home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: $primaryColor;
  align-content: center;
}
.avatar {
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 42px;
  width: 42px;
  z-index: 0;
  img {
    width: 100%;
    width: 100%;
  }
}
.action-side {
  display: flex;
  flex: 0.3;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile-action {
  display: flex;
  flex: 0.5;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.profile-name {
  color: #fff;
}
.hamburger-menu {
  display: none;
  color: $background;
  margin-right: 10px;
  font-size: 1.3em;
  @media screen and (max-width: 480px) {
    display: block !important;
    &:hover {
      .side-bar {
        display: block;
        position: absolute;
        width: 80%;
      }
    }
  }
}

// notification pane
.notification {
  background-color: $primaryColor;
  color: white;
  text-decoration: none;
  padding: 13px 5px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: inherit;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: -3px;
  padding: 1px 4px;
  border-radius: 50%;
  color: white;
  background-color: orange;
}

.main-modal {
  display: none;
  width: 12%;
  position: absolute;
  top: 1;
  right: 0;
  padding: 10px;
  margin-right: 2rem;
  z-index: 1;
  background-color: $primaryColor;
}
.block {
  display: block;
}
.none {
  display: none;
}
.main-modal:hover {
  cursor: pointer;
}

.main-modal-content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  a {
    color: white;
    margin: 5px 0;
  }
}
