.dashboard {
  position: relative;
  width: 80vw;
  height: 100vh;
  float: right;
  top: 6rem;
  overflow: hidden;

  &__left-dash {
    float: left;
    height: 200px;
  }
  &__right-dash {
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 20px;
  }

  &__title {
    background-color: yellowgreen;
    color: white;
    padding: 10px 10px 10px 20px;
    margin: 0px 46px 0px 46px;
    border-radius: 0 0 8px 8px;
  }
}

.total-trips-title {
  background-color: #2a89f5;
  padding: 10px 10px 10px 20px;
  margin: 0px 46px 20px 0px;
  border-radius: 0 0 8px 8px;
  color: yellow;
  width: fit-content;
}
.dash-div {
  margin: 20px 0px 0px 20px;
  height: 400px;
  width: 190%;
  background-color: white;
}

.trip-stat-content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.trip-stat-content ul li {
  display: inline;
}
.current-trip,
.trips-stats {
  border-radius: 8px;
  box-shadow: 5px 10px 18px gray;
  padding-bottom: 40px;
  height: fit-content;
}

.current-trip-content {
  display: flex;
}
.ct-image {
  width: 250px;
  height: 250px;
}
.ct-image-div {
  margin: 30px 30px 0px 40px;
  box-shadow: 5px 10px 18px gray;
  border-radius: 8px;
}
.ct-image-div figcaption {
  padding: 10px 10px;
}

.ct-details {
  margin: 80px 0px 0px 0px;
  color: green;
}
.trip-stat-content {
  padding: 10px 0px 0px 50px;
}

/*Media Queries*/
@media (max-width: 1028px) {
  .dash-div {
    width: 140%;
  }
}
@media (max-width: 765px) {
  .dashboard {
    display: inline;
  }
  .left-dash {
    height: 100%;
    width: fit-content;
  }
  .dash-div {
    width: 320px;
    margin-bottom: 20px;
  }
  .right-dash {
    float: left;
    width: 85%;
    margin-right: 20px;
  }
  .space-between {
    height: 1%;
    display: none;
  }
}
