@import '../../styles/variables';

.panel-header {
  position: absolute;
  background-color: hotpink;
  width: 80vw;
  top: 6rem;
  right: 0;
  @media screen and (max-width: 480px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 1310px) {
    margin-top: 50px;
  }
  .page-info {
    position: absolute;
    left: 0;
    margin: 20px 0px 20px 50px;
    .page-title {
      color: $textColor;
    }
    .sub-title {
      .sub-title-info {
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
  .panel-commands {
    position: absolute;
    right: 20%;
    margin: 20px 20px 20px 0px;
    @media screen and (max-width: 480px) {
      float: left;
      margin: 90px 0px 20px 60px;
    }
    @media screen and (max-width: 1310px) {
      float: left;
      margin: 90px 0px 20px 60px;
      left: 0;
    }
    .panel-page-number {
      height: 40px;
      background: inherit;
      // margin-right: 20px;
      border: none;
      color: $primaryColor;
      font-size: 0.9em;
    }
    .transparent-button {
      background-color: inherit;
      height: 40px;
      margin-bottom: 10px;
      border: 1px solid $primaryColor;
      font-size: 0.9em;
      color: $primaryColor;
      float: left;
      padding: 0px 5px 0px 5px;
      @media screen and (max-width: 480px) {
        padding: 0px;
      }
      &:hover {
        background-color: $primaryColor;
        color: $background;
        .panel-icons {
          color: $background;
        }
      }
    }
    .search-div {
      background-color: #fff;
      height: 50px;
      width: 300px;
      float: right;
      position: absolute;
      border: 1px solid #2a89f51f;
      margin-left: 300px;
      display: none;
      input[type='text'] {
        width: 90%;
        height: 100%;
        font-size: 1.3em;
        border: none;
      }
    }
  }
}
.panel-icons {
  color: $primaryColor;
  margin-right: 5px;
}
.first-button {
  border-radius: 20px 0px 0px 20px;
}
.last-button {
  border-radius: 0px 20px 20px 0px;
}
.button-label {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
}
.search-button {
  background-color: black;
}
.search-button:hover .search-div {
  display: block;
}
.page-number-div {
  padding: 0px 0px 0px 5px;
  &:hover {
    .panel-page-number {
      color: $background;
    }
  }
}
.search-elements-responsive{
  @media screen and (max-width: 480px) {
    float: left;
    margin: 120px 0px 20px 60px;
  }
  @media screen and (max-width: 1310px) {
    margin: 80px 0px 20px 60px;
    width: 30%!important;
  }
}
