@import "../../styles/variables";

@mixin dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}
@mixin request-button {
  width: 100px;
  height: 25px;
  margin-bottom: 10px;
  border-radius: 50px / 50px;
  font-size: 0.9em;
}
body{
  background: none;
  background-color: #edeff3!important;
}
.table-title{
  color: #0000008c;
}
.options-requests {
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #00000017;
}
a{
  text-decoration: none;
}
.flex-parent{
  display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.wrapper {
  position: absolute;
  width: 78vw !important;
  right: 0;
  top: 15rem;
  background-color: $background;
  @media screen and (max-width: 480px) {
    width: -webkit-fill-available;
    height: 700px;
    margin: 160px 10px 0px 0px!important;
  }
  @media screen and (max-width: 1310px) {
    width: -webkit-fill-available;
    height: 700px;
    margin: 140px 10px 0px 0px!important;
  }
  .table-container {
    font-family: $font-family;
    h1 {
      float: left;
      color: $textColor;
    }
    .table {
      background-color: $background;
      width: 100%;
      @media screen and (max-width: 480px) {
      overflow-x: auto;
      display: block;
      }
      .table-head {
        background-color: $secondaryColor;
        // background-color: white;
        font-size: 20px;
        font-weight: bold;
        color: #0000008c;
        .table-row {
          .table-element {
            text-align: justify;
            padding: 15px 0px 15px 0px;
            
            // border-bottom: 5px solid $secondaryColor;
            // border-top: 5px solid $secondaryColor;
          }
        }
      }
      .table-body {
        .table-row {
          .table-element {
            padding: 15px 0px 15px 0px;
            border-bottom: 1px solid $secondaryColor;
            text-align: justify;
            &:hover{
              .tooltip{
                display: block;
              }
            }
              .user-avatar{
                width: 40px;
                border-radius: 50%;
                border: 2px solid $primaryColor;
              }
              .tooltip{
                display: none;
                width: 250px;
                background-color: black;
                color: #fff;
                text-align: justify;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                opacity: 80%;
                padding: 10px 0px 10px 10px;
              }
            .approved-dot {
              background-color: green;
              @include dot();
            }
            .pending-dot {
              background-color: yellow;
              @include dot();
            }
            .rejected-dot {
              background-color: red;
              @include dot();
            }
            .actions-dropdown-disabled {
              // position: relative;
              display: inline-block;
              .drop-btn{
                background-color: $textColor;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
              }
              .dropdown-content{
                display: none;
              }
            }
            .actions-dropdown{
              // position: relative;
              display: inline-block;
              &:hover{
                .dropdown-content{
                  display: block;
                  display: grid;
                }
              }
              .drop-btn{
                background-color: $primaryColor;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: normal;
              }
              .dropdown-content{
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                width: inherit;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                text-align: center;
                // span{
                //   color: black;
                //   padding: 12px 16px;
                //   text-decoration: none;
                //   display: block;
                //   cursor: pointer;
                //   &:hover {
                //     background-color: #f1f1f1;
                //   }
                // }
              }
            }
            .accept-request-btn {
              @include request-button();
              background-color: $primaryColor;
              color: $background;
              &:hover {
                background-color: $background;
                color: $primaryColor;
              }
            }
            .reject-request-btn {
              @include request-button();
              &:hover {
                background-color: $primaryColor;
                color: $background;
              }
            }
          }
        }
      }
    }
  }
  .pagination-container {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 50%;
    @media screen and (max-width: 480px) {
    width: 80%;
    }
    .pagination-box {
      border: 1px solid #7f7d7d;
      color: #7f7d7d;
      margin-right: 3px;
      display: inline-block;
      width: 40px;
      height: 30px;
      padding: 5px 0px 0px 10px;
      &:hover {
        background-color: #1976d2b0;
        color: white;
      }
    }
  }
}
.pagination-selected {
  background-color: $primaryColor;
  color: $background !important;
  border: none !important;
}
